@using Toolbelt.Blazor.HotKeys2
@using Vanessave.Desktop.Services
@using Vanessave.Shared.Utils
@inherits LayoutComponentBase
@implements IDisposable
@inject TabBarService TabBarService
@inject HotKeys Hotkeys

<MyMudThemeProvider/>
<MyMudProviders/>

<PageTitle>Vanessave</PageTitle>

<div class="page mud-layout">
    <main>
        <MudAppBar Color="Color.Primary" Fixed="false" Elevation="0">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" OnClick="BackButtonClick"
                           Disabled="@(!TabBarService.CanNavigateBack)"/>
            <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" OnClick="HomeButtonClick"/>
            <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Inherit" OnClick="ForwardButtonClick"
                           Disabled="@(!TabBarService.CanNavigateForward)"/>

            <MudSpacer/>

            <MudText Typo="Typo.h5">Vanessave</MudText>
            <MudSpacer/>
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" OnClick="GithubButtonClick"/>
        </MudAppBar>

        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private HotKeysContext? _hotKeysContext;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _hotKeysContext = Hotkeys.CreateContext()
                .Add(ModCode.Alt, Code.ArrowLeft, TabBarService.NavigateBack)
                .Add(ModCode.Alt, Code.ArrowRight, TabBarService.NavigateForward);
        }
    }

    protected override void OnInitialized()
    {
        TabBarService.TabBarUpdated += StateHasChanged;
    }

    public void Dispose()
    {
        TabBarService.TabBarUpdated -= StateHasChanged;

        _hotKeysContext?.Dispose();
    }

    private static void GithubButtonClick(MouseEventArgs obj)
    {
        ProcessUtils.OpenLinkInBrowser("https://github.com/Eveldee/Vanessave");
    }

    private void HomeButtonClick(MouseEventArgs obj)
    {
        TabBarService.NavigateHome();
    }

    private void BackButtonClick(MouseEventArgs obj)
    {
        TabBarService.NavigateBack();
    }

    private void ForwardButtonClick(MouseEventArgs obj)
    {
        TabBarService.NavigateForward();
    }

}