@page "/"
@using Vanessave.Desktop.Models
@using Vanessave.Desktop.Services
@implements IDisposable
@inject TabBarService TabBarService

<div id="main-tab-bar">
    <MudTabs @bind-ActivePanelIndex="@TabBarService.ActiveIndex"
             Elevation="0" Border="true" Outlined="true" PanelClass="d-grid flex-1 px-4 py-6">
        <ChildContent>
            @foreach (var item in TabBarService.TabViews)
            {
                var title = item.Caption is not null ? $"{item.Caption}: {item.Name}" : $"{item.Name}";
                <MudTabPanel ID="@item" Text="@title" Tag="@item" Icon="@item.Icon">
                    <MudContainer Class="d-grid" MaxWidth="MaxWidth.Large">
                        @item.Content
                    </MudContainer>
                </MudTabPanel>
            }
        </ChildContent>
        <Header>
            @* Tab bar header (global content) *@
        </Header>
        <TabPanelHeader>
            @* Tab panel hader (per tab content) *@
            @if (context.Tag is TabView { Closeable: true } tabView)
            {
                <MudIconButton Class="ml-2 pa-1" Color="Color.Inherit" Icon="@Icons.Material.Filled.Close" OnClick="_ => TabBarService.Close(tabView)"/>
            }
        </TabPanelHeader>
    </MudTabs>
</div>

@code {

    protected override void OnInitialized()
    {
        TabBarService.TabBarUpdated += StateHasChanged;
    }

    public void Dispose()
    {
        TabBarService.TabBarUpdated -= StateHasChanged;
    }

}