@page "/system-settings/achievements-editor"
@using Vanessave.Nobeta
@using Vanessave.Services
@inject AchievementMetadataProvider AchievementMetadataProvider

<MudText Typo="Typo.h3" Class="mb-6">Achievements</MudText>

<SystemSettingsEditor @ref="_systemSettingsEditor" HideDividerWhenLoaded="true">
    <TitleContent>
        <pre style="text-wrap: wrap"><MudText>
        <MudAlert Severity="Severity.Info" Class="mt-4">A restart of the game is needed in order to reload achievements.

Manually editing achievements doesn't work with Steam. You need to use a tool like <MudLink Href="https://github.com/gibbed/SteamAchievementManager">SteamAchievementManager</MudLink>.</MudAlert>
        </MudText></pre>

        <MudText Class="my-4">This tool allows you to unlock or lock achievements.</MudText>
    </TitleContent>
    <LoadedContent>
        <div id="batch-buttons" class="my-4">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.LockOpen" OnClick="OnUnlockAll">Unlock all</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Lock" OnClick="OnLockAll">Lock all</MudButton>
        </div>

        <MudTable T="Achievement" Items="@SystemSettings.Achievements" Hover="true" Style="cursor: pointer; user-select: none;" Virtualize="true" Striped="true" OnRowClick="OnRowClick">
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>Id</MudTh>
                <MudTh>Details</MudTh>
                <MudTh>Unlocked?</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="">
                    <MudImage Fluid="true" Width="80" Elevation="3" Src="@AchievementMetadataProvider.AchievementsMetadata[context.Id].ImageUri" Class="rounded-lg" />
                </MudTd>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Details" Style="user-select: text">
                    <MudText Style="font-weight: bold">@AchievementMetadataProvider.AchievementsMetadata[context.Id].Name</MudText>
                    <MudText>@AchievementMetadataProvider.AchievementsMetadata[context.Id].Description</MudText>
                </MudTd>
                <MudTd DataLabel="Unlocked">
                    <MudCheckBox @bind-Value="@context.Unlocked" Color="Color.Primary"/>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </LoadedContent>
</SystemSettingsEditor>

@code {
    private SystemSettings SystemSettings => _systemSettingsEditor.SystemSettings!;

    private SystemSettingsEditor _systemSettingsEditor = null!;

    private void OnRowClick(TableRowClickEventArgs<Achievement> eventArgs)
    {
        var achievement = eventArgs.Item;

        achievement.Unlocked = !achievement.Unlocked;
    }

    private void OnLockAll()
    {
        foreach (var achievement in SystemSettings.Achievements)
        {
            achievement.Unlocked = false;
        }
    }

    private void OnUnlockAll(MouseEventArgs obj)
    {
        foreach (var achievement in SystemSettings.Achievements)
        {
            achievement.Unlocked = true;
        }
    }
}