@page "/system-settings/skin-selector"
@using Vanessave.Nobeta
@using Humanizer

<MudText Typo="Typo.h3" Class="mb-6">Skin Selector</MudText>

<SystemSettingsEditor @ref="_systemSettingsEditor" HideDividerWhenLoaded="true">
    <TitleContent>

        <pre><MudText>
<MudAlert Severity="Severity.Info" Class="mt-4">A restart of the game is needed in order to apply the new selected skin.

The game will ignore any DLC skin if you don't own the according DLC.</MudAlert>
        </MudText></pre>

    </TitleContent>
    <LoadedContent>
        <MudPaper Outlined="true" Class="pa-4 mt-4" Style="user-select: none;">
            <MudCarousel Class="mud-width-full" ItemsSource="@Source" @bind-SelectedIndex="@SystemSettings.CurrentSkin" ShowArrows="true" ShowBullets="false" AutoCycle="false" Style="height: 550px;">
                <ItemTemplate>
                    <div class="d-flex flex-column flex-column justify-center" style="height:100%;">
                        <MudImage Alt="Skin Preview" Src="@context.PreviewUri" Style="width: 400px;" Class="mx-auto"/>
                        <MudText Align="@Align.Center" Class="mx-auto">@context.SkinName</MudText>
                    </div>
                </ItemTemplate>
            </MudCarousel>
            <MudPagination @bind-Selected:get="@(SystemSettings.CurrentSkin + 1)" @bind-Selected:set="@(index => SystemSettings.CurrentSkin = index - 1)" Count="@Source.Length" Class="pa-4 justify-center d-flex"/>
        </MudPaper>

    </LoadedContent>
</SystemSettingsEditor>

@code {
    private static readonly SkinInfo[] Source = Enum.GetValues<GameSkin>()
        .Select(skin => new SkinInfo(skin.Humanize(), $"/assets/skins/Skin_{skin.ToString()}.webp"))
        .ToArray();

    private SystemSettings SystemSettings => _systemSettingsEditor.SystemSettings!;

    private SystemSettingsEditor _systemSettingsEditor = null!;

    private record SkinInfo(string SkinName, string PreviewUri);
}